# Copy this file to .env.postgre.local and fill local runtime settings.
GENIUSAI_POSTGRES_URL=postgresql://localhost:5432/postgres
GENIUSAI_POSTGRES_USER=
GENIUSAI_POSTGRES_PASSWORD=
GENIUSAI_DATABASE_NAME=geniusai-server_qwen3-embedding-0.6b
MODEL_CACHE_PATH="./cache"
